@media (max-width: 900px){
    #navbar ul{
        border: 1px solid black;
        height: auto;
    }

    #navbar{
        position: absolute;
        margin: auto;
    }

    #main-doc{
        position: relative;
        margin-top: auto;
    }
}

body{
    background-color: aliceblue;
}

#navbar{
    position: fixed;
    border: solid black;
    min-width: 200px;
    height: 100%;

}

#navbar ul{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

#navbar li{
    border-top: 1px solid black;
}

#navbar a{
    display: block;
    padding: 15px 35px;
    cursor: pointer;
    text-decoration: rebeccapurple;
}

header{
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 30px;
}

#main-doc header{
    text-align: left;
}

#main-doc{
    position: absolute;
    margin-left: 450px;
    margin-bottom: auto;
    padding: 10px;
}

